**/.git
**/.gitignore
**/.gitattributes
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/artifacts
**/publish
**/TestResults
**/coverage
**/node_modules
**/*.user
**/*.suo
**/*.binlog
**/*.trx
**/.env
**/.env.*
**/secrets.json
**/appsettings.*.local.json
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/README.md
**/LICENSE
**/.DS_Store
**/Thumbs.db
